MONGO_URL=mongodb://localhost:27017
DB_NAME=test_database
JWT_SECRET=D9PjzjvcJrcPJIYVGIk+OB3HWjqCeiuPn6Qktwj1MPY=
RAZORPAY_KEY_ID=rzp_live_HYvSkDnq8DO8OY
RAZORPAY_KEY_SECRET=kz3FWGZohFKLItssx7p7whQw
GEMINI_API_KEY=AIzaSyA92MJlToKYEAROiGGfp1VukmXseoLYl4U
EMERGENT_LLM_KEY=your_emergent_llm_key_here
